<!-- nav -->
<%= render 'shared/navbar' %>
<!-- banner -->
<%= render '/shared/spot_banner', spot: @spot %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2><%= @spot.address %></h2>
      <p class="spot-description"><%= @spot.description %></p>
      <ul class="list-inline">
        <% @spot.features.each do |feature| %>
        <li class="list-inline-item"><i class='<%= feature.picto %>'></i></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="form-wrapper">
        <%= simple_form_for [@spot, @booking] do |f| %>
        <%= f.input :starts_at, as: :date  %>
        <%= f.input :ends_at, as: :date %>
        <%= f.submit "Book this spot", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
    <div class="row">
      <div class= "spot--map">
        <img alt='static Mapbox map of the San Francisco bay area' src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/pin-s+1f4287(<%= @spot.longitude %>,<%= @spot.latitude %>)/<%= @spot.longitude %>,<%= @spot.latitude %>,12.00/250x150@2x?access_token=pk.eyJ1IjoicHF1aW50cmllIiwiYSI6ImNqb2lnemY1cTAwa3Mzd3AyM3QwNXRzZWIifQ.p09r2dqaqMqk5uj4-4vk7w" >
      <%= link_to "Back home", root_path, class: "btn btn-warning" %>
      </div>
    </div>
  <div class="row">
    <div class="col padded">
      <%= render 'reviews', spot: @spot %>
    </div>
  </div>
</div>
<!-- footer -->
<%= render 'shared/footer' %>



<%# @spot.bookings.reviewed.each do |booking| %>
  <!-- <p> -->
    <%#= "⭐️" * booking.rating if booking.rating %>
    <!-- <br> -->
    <%#= booking.review %>
  <!-- </p> -->
<%# end %>



