<!-- nav -->
<%= render 'shared/navbar' %>
<!-- banner -->
<%= render '/shared/spot_banner', spot: @spot %>

<div class="container">
  <div class="row padded">
    <div class="col-md-8">
      <h2><%= @spot.address %></h2>
      <p><%= @spot.description %></p>
    </div>
    <div class="col-md-4">
      <div class="form-wrapper">
        <%= simple_form_for [@spot, @booking] do |f| %>
        <%= f.input :starts_at, as: :date  %>
        <%= f.input :ends_at, as: :date %>
        <%= f.submit "Book this spot", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col padded">
      <%= render 'reviews', spot: @spot %>
    </div>
  </div>
</div>
<!-- footer -->
<%= render 'shared/footer' %>



<%# @spot.bookings.reviewed.each do |booking| %>
  <!-- <p> -->
    <%#= "⭐️" * booking.rating if booking.rating %>
    <!-- <br> -->
    <%#= booking.review %>
  <!-- </p> -->
<%# end %>



