<!-- nav -->
<%= render 'shared/navbar' %>
<!-- banner -->
<%= render '/shared/spot_banner', spot: @booking.spot %>

<div class="container">
  <h2>Booking Summary</h2>
  <h3>Address:</h2>
  <p><%= @booking.spot.address %></p>

  <p> <strong> Arrival date :</strong> <%= @booking.starts_at.strftime("%d/%m/%Y") %> </p>
  <p> <strong> Departure date :</strong> <%= @booking.ends_at.strftime("%d/%m/%Y") %> </p>

  <div class="padded">
    <% if @booking.review.present? %>
      <h3>Your review:</h3>
      <%= render "shared/review", booking: @booking %>
    <% elsif @booking.ends_at < Date.today %>
      <div>
        <%= render "bookings/booking_comment", booking: @booking %>
      <br>
      </div>
    <% end %>

      <%= link_to "Back Home", root_path, class: "btn btn-warning booking-home-button" %>
  </div>
</div>

<!-- footer -->
<%= render 'shared/footer' %>

