<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=  spot.photo.url.nil? ? 'https://res.cloudinary.com/dzcqmn55q/image/upload/v1542192463/go-home-5.png' : spot.photo %>);">
  <div class="card-description">
    <h2><%= spot.name %></h2>
    <!-- <p>Very cool city, the best</p> -->
  </div>
    <% if spot.user.avatar.present? %>
        <div class="card--avatar">
          <%= image_tag spot.user.avatar.url(:avatar) %>
        </div>
    <% else %>
      <div class="card--avatar">
        <%= image_tag('gg.jpg') %>
      </div>
    <% end %>
  <%= link_to '', spot_path(spot), class: 'card-link' %>
</div>


