<%= simple_form_for @spot do |f| %>
  Title: <%= f.input :name %>
  Description: <%= f.input :description %>
  address: <%= f.input :address %>
  Photo: <%= f.input :photo %>
  <div id="feature">
    <%= f.simple_fields_for :features, Feature.new do |feature| %>
      <!-- Task: <%#= task.text_field :name %> -->
      <%= render 'feature_spot_fields', f: feature %>
      <div class="links">
        <%= link_to_add_association '+', f, :tasks %>
      </div>
    <% end %>
  </div>
  <%= f.submit 'Create Project' %>
<% end %>

