<%= simple_form_for [:host, @spot] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <div id="feature">
    <%= f.simple_fields_for :spot_features do |sf| %>
      <%= render 'spot_feature_fields', f: sf %>
      <div class="links">
        <%= link_to_add_association '+', f, :spot_features, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
  <%= f.submit 'create', class:  "btn btn-primary" %>
<% end %>


